*{
				margin: 0;
				padding: 0;
}
.container{
				width: 100vw;
				height: 100vh;
				background: #8b8b8b;
				position: absolute;
}
.card{
				position: relative;
				width: 80vw;
				height: 70vh;
				background: #08031e;
				margin: auto;
				top: 13vh;
				border-radius: 4vh;
				box-shadow: 5vh 5vh 4.5vh #656565;
				padding-top: 10px;
}
.card::before{
				content: '';
			  width: 80vw;
				height: 30vh;
				background: #3d3c24;
				border-radius: 4vh 4vh 10vh 10vh;	
				position: absolute;
				top: 0;
}
.card div {
				color: #546165;		
				text-align: center;
				position: relative;
				margin: auto;
}
#img{
				width: 50vw;
				height: 50vw;
				border-radius: 5vh;
				position: relative;
				top: 5vh;
}
.audio_ctrl{
				position: absolute;
				width: 70vw;
				height: 3vh;
				margin: auto;
				top: 15vh;
				display: flex;
				border-radius: 4vh;
}
.audio_ctrl div{
				width: 15vw;
				height: 7.58vh;
				background: #020019;
				position: relative;
				text-align: center;
				margin: auto;
				border-radius: 50%;
				box-shadow: .5vh .5vh .5vh -.02px #000000;
}
.progress_div{
				display: flex;
				position: absolute;
				top: 7vh;
}
.progress{
			width: 50vw;	
			height: 0.5vh;
			background: #8b8b8b;
			border-radius: 0.2vh;
}
#progress_bar{
			 width: 0%;	
			 height: 0.5vh;
			 border-radius: 0.2vh;
			 background: #11aec7;
      position: absolute;
      left: 0;
}
#progress_bar:active::before{
				content: '';
				position: absolute;
				width: 1vh;
				height: 1vh;
				border-radius: 50%;
				left: 99%;
				top: -0.3vh;
				background: #11aec7;
}
.prev, .next, .play, .pause{
				position: relative;
				width: 13vw;
				height: 6vh;
				top: .8vh;		
				diplay: grid;		
}
.pause{
				display: none;
}
